.mainContainerYoutube{
  display: flex;

  justify-content: space-around;
}
.youtubeTitle{
  grid-column: span 2;
  text-align: center;
  color: black;
  font-size: xx-large;
  height: 50px;
}
.iframe{
  height: 315px;
  width: 560px;
}
@media (max-width: 800px) {
  .mainContainerYoutube{
  flex-direction: column;
  }
  .iframe{
    height: 30vh;
    width: auto;
    margin-top: 10px;
  }

}