.contenedorIframes{
display: grid; 
justify-content: space-evenly; 
}
.videoContainer{
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  transition: ease-in-out 300ms;
}
.videoContainer:hover{
    background-color: var(--base-color);
    border-radius: 22px;
    color: var(--font-color);
    .svg{
      fill: white;
    }
}
.videoTitle{
  color: black;
  text-align: center;
}
.svg{
  fill: black;
}

.playButton{
  position: absolute;
  width: 5em;
  fill: white;
  margin-top: auto;
  top: 0;
  bottom: 0;
  margin-bottom: auto;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}
.videoTitle:hover{
  color: var(--font-color);
}

.videoImage{
  width: 100%;
  border-radius: 22px;
}

.youtubeTitle{
  background: linear-gradient(90deg, rgb(0, 153, 51) 0%, rgba(255,255,255,0) 50%);
  color: var(--font-color);
  height: 20px;
  border-radius: 22px;
  padding: 5px;
  padding-left: 10px;
}

@media (max-width: 800px) {
  .contenedorIframes{
    margin-top: 2em;
      display: flex;
      flex-direction: column;
  }
  .youtubeTitle{
    background: linear-gradient(90deg, rgb(0, 153, 51) 0%, rgba(255,255,255,0) 80%);

  }
  .secondary{
    display: none;
  }
}