
.footer{
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: repeat(2, 40vh);
    column-gap: 3vw;
    padding: 1em 0;
    color:var(--font-color);
    font-weight: bolder;
    background: var(--base-color);
}
.footerMunicipalidad{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px black solid;
    text-align: center;
    box-sizing: content-box;
	margin: 10px;
    box-shadow: 1px 4px 5px 0 rgba(0, 0, 0, 1);
}
.footerMunicipalidad:hover{
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 1s;
}
.title{
    text-decoration: underline;
    font-size: larger;
    margin: 1em;
}
@keyframes pulse {
	0% {
		transform: scale(0.98);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	60% {
		transform: scale(1);
		box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.2);
	}

	100% {
		transform: scale(0.98);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.phone{
    text-decoration: none;
    color:var(--font-color);
    font-size: x-large;
    margin-bottom: 10px;
}
.phone:hover{
    text-decoration: underline;
}
.highlighted{
    color: #5900ff;
    text-decoration: none;
}
.highlighted:hover{
    text-decoration: underline;
}
.phoneContainer{
    display: grid;
    grid-template-columns: 20% 1fr;
}
.phoneNumbers{
    display: flex;
    justify-content: flex-start;
    width: 20vw;
    flex-wrap: wrap;
}

.phoneImage{
    height: 70px;
  }

  @media (max-width: 800px) {
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 2em;
        }
    .footerMunicipalidad{
        width: 90vw;
        margin: 0.5em 0;
    }
    .phoneNumbers{
        width: 50vw;
        flex-direction: column;
    }
  }