.highlightedContainer{
  display: flex;
  justify-self: center;
  width: 60%;
  flex-direction: column;
}
.informacionesContainer{
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(2, 40%);
}
.infoTitle{
  grid-column: span 2;
  text-align: center;
  color: black;
  font-size: xx-large;
  height: 50px;
}
.NoticiaImportante{
  padding: 5px 1em;  
  text-align: center;
  a{
    color: black;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
  img{
    border-radius: 22px;
  }
}
.noticiaImportanteImagen{
  width: 80%;
}
.containerActa{
}
.munilogo{
  width: 100%;
}
.highlightedTitle{
  text-align: center;
  color: black;
  font-size: xx-large;
  height: 50px;
}
.highlightedImage{
  width: 100%;
  border-radius: 0.5rem;
  margin: 2px;
  transition: 450ms;
}

@media (max-width: 800px) {
  .highlightedContainer{
  margin: 0.2em;
  width: 95%;

  }
  .informacionesContainer{
    display: flex;
    flex-direction: column;
  }
  .highlightedImage{
    margin-top: 20px;
  }

}