
.main{
    display: grid;
    grid-template-columns: auto;
    row-gap: 10vh;
    padding: 20px;
    flex-direction: column;
}
@media (max-width: 800px) {
    .main{
        display: flex;
        flex-direction: column;
    }
}