.lateralMenu{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  height: 30em;
}
.lateralMenu a{
  padding: 0.5em;
  margin-top: 0.5em;
  margin-bottom: 0;
  width: 50%;
  color: black;
  border: 1px solid gray;
  text-decoration: none;
  transition: 250ms;
  margin-left: 4em;
  font-size: larger;
  border-radius: .235rem;
}
.lateralMenu a:hover{
  text-decoration: underline;
  background-color: lightgrey;
}

