.linksContainer{
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.linksTitle{
  background: linear-gradient(90deg, rgb(39, 35, 255) 0%, rgba(186,255,250,0) 70%);  
  color: white;
  height: 20px;
  border-radius: 22px;
  padding: 5px;
  padding-left: 10px;
  grid-column: span 3;
}

#cuenta{
  grid-column: span 2;
}
#ine{
  grid-column: span 3;

}
#plebiscito{
  grid-column: span 3;
  justify-content: center;
}
.linkImage{
  margin: 2px;
  width: 97%;
  transition: 450ms;
}
.linkImage:hover{
  -webkit-filter: contrast(90%) brightness(110%) saturate(150%) hue-rotate(-10deg);
  filter: contrast(90%) brightness(120%) saturate(150%) hue-rotate(-10deg);
}
@media (max-width: 800px) {
  .linksContainer{
  margin: 0.2em;
  }
}