.dropdown 
{
    position: relative;
    display: inline-block;
    transition: 450ms;
    color: white;
    margin: 0.4em;
    width: 80vw;
    text-align: center;
    text-decoration: none;
  
}
.dropdown-content 
{
    display: none;
    color:var(--font-color);
    background-color:var(--hover-color);

}
.dropdown-content a {
  color: var(--font-color);;
  padding: 0.5em;
  z-index: 1;
  text-decoration: none;
  background-color:var(--base-color);

}
.dropdown-content a:hover{

    background-color:var(--hover-color);
  
  }
.dropdown:hover .dropdown-content 
{
    display: flex;
    transition: 450ms;
    flex-direction: column;
}