
.dropdown 
{
    display: inline-block;
    transition: 450ms;
    color: var(--font-color);
}

.services{
  font-size: larger;
  padding: 10px;
  border-radius: 22px 22px 0 0;
  border: none;
  color: var(--font-color);
}
.services:hover{
  background-color: var(--hover-color);;
}
.dropdownContent 
{
    display: none;
    margin-top: 0em;
    position: absolute;
    background-color: var(--base-color);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 15;
}
.dropdownLink{
  color:  var(--font-color);
}

.dropdownLink:hover {
  background-color: var(--hover-color);

}
.dropdown:hover .dropdownContent{
    display: flex;
    
    color: var(--font-color);
    transition: 450ms;
    width: 35em;
    flex-direction: column;
}