.mobileMenuLink{
  color: white;
  margin: 0.4em;
  width: 80vw;
  text-align: center;
  text-decoration: none;
}
.logoMuni{
  margin-bottom: 35px;
}
.HamburgerButton{

  cursor: pointer;
  position: fixed;
  left:5vw;
  top:5vh;
  z-index: 999;
}
.wrapper{
  position: fixed;
  z-index: 99;
  flex-direction: column;
  align-items: center;
  font-size: large;
  width: 100vw;
  background: rgba(115,150,105,1);
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  
}
.hidden
{
  display: none;
}
.exit{
  background-color: grey;
  border-radius: 50%;
  position: fixed;
  right: 10vw;
  top:10vh;
  width: 30px;
  height: 30px;
}