.headerMunicipio{
  grid-column: span 2;
}
.headerMunicipioImg{
  width: 100%;
}
.MainMunicipio{
  display: flex;
  flex-direction: column;

}
@media (max-width: 800px) {
  .muniContainer{
  display: flex;
  margin: 0;
  padding: 0.3em;
  align-items: center;
  flex-direction: column;
  }
  .imgMunicipalidad{
    margin: 0;
    padding: 0;
  }
}