.postsWrapper{
  margin-top: 2em;
  padding: 0 10px;
  column-gap: 10px;
  color: black;
}
.news{
  text-align: center;
  color: black;
  font-size: xx-large;
  height: 40px;
  grid-column: span 2;
}
.postList{
  display: grid;
  justify-content: space-around;
  width: 100%;
  grid-template-columns: repeat(5,16%);
}
.date{
  color: black;
  margin-left: 1em;
}
.postImage{
  height: 100%;
  border-radius: 22px 22px 0 0;
}
.postNav{
  margin-top: 2em;
  display: flex;
  justify-content: space-around;
  width: 70%;
  height: 4em;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  justify-self: flex-end;
}

.postContainer{
  display: flex;
  padding: 0 0 0.5em 0;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.75);
  border-radius: 1.235rem;
  transition: 450ms;
}
.postTitle{
  margin: 5px 12px;
  color: black;

}
.newsText{
  margin: 10px 0;
  padding: 0;
  text-decoration: none;
}
.newsText:hover{
  text-decoration: underline black;

}
.postContainer:hover{
  box-shadow: 2px 2px 4px -1px rgba(0,0,0,0.75);
  transition: ease-in-out;
}

@media (max-width: 800px) {
  .postList{
    display: flex;
    flex-direction: column;
    padding: 0 0.2em;
  }
}